body{
    background-color: rgb(33, 33, 54);
    color: rgb(129, 146, 212);
    margin: auto;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    position: relative;
}

#navbar{
    z-index: 999;
    overflow: hidden;
    background-color: rgb(43, 45, 53);
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

#navbar a{
    float: right;
    display: block;
    color: rgb(168, 173, 194);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 25px;
}

#navbar-name{
    float: left;
    display: block;
    color: rgb(168, 173, 194);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 25px;
}


#a{
    font-size: 100px;
}

#email-icon{
    height: auto;
    width: 5.75%;
}

.footer{
    margin-top: 20%;
    text-align: center;
}
